<html>
<head>
    <title>Confirmar</title>
</head>
<body>
<h1>Confirmar cadastro</h1>

E-mail: <input type="text" id="email" name="email" value=""/><br/>
Nome: <input type="text" id="name" name="name" value=""/><br/>
Nome do meio: <input type="text" id="middlename" name="middlename" value=""/><br/>
Sobrenome: <input type="text" id="surname" name="surname" value=""/><br/>
Apelido: <input type="text" id="nickname" name="nickname" value=""/><br/>
Alterar senha ? <input type="password" id="password" name="password" value=""/> (opcional)<br/>
Código: <input type="text" id="checkCode" name="checkCode" value=""/><br/>
<input type="button" value="Cadastrar"/>

</body>
</html>